{% extends 'layout.jinja2' %}


{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}"
            type="text/css"
    />
{% endblock %}

{% block content %}

<div class="form-wrapper">
   <h1 class="title">IPM Prediction</h1>

   <form method="POST" action="{{ url_for('routes.calculator') }}">
      {{ form.hidden_tag() }}
      <h3 class="subtitle">Mandatory Fields</h3>
      <fieldset class="form-field">
         {{ form.age.label }}
         {{ form.age }}
         {% if form.age.errors %}
         <ul class="errors">
            {% for error in form.age.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
      </fieldset>
      <fieldset class="form-field">
         {{ form.ecog.label }}
         {{ form.ecog }}
         {% if form.ecog.errors %}
         <ul class="errors">
            {% for error in form.ecog.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
      </fieldset>
      <fieldset class="form-field">
         {{ form.alb.label }}
         {{ form.alb }}
         {% if form.alb.errors %}
         <ul class="errors">
            {% for error in form.alb.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
      </fieldset>
      <fieldset class="form-field">
         {{ form.ca_125.label }}
         {{ form.ca_125 }}
         {% if form.ca_125.errors %}
         <ul class="errors">
            {% for error in form.ca_125.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.brca.label }}
            {{ form.brca }}
         </tr>
      </fieldset>
      <h3 class="subtitle">Surgical Resectability</h3>
      <fieldset class="form-field">
         <tr> {{ form.splenic_hilum.label }}
            {{ form.splenic_hilum }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.gastrohepatic_lig.label }}
            {{ form.gastrohepatic_lig }}
         </tr>
      </fieldset>
 
      <fieldset class="form-field">
         <tr> {{ form.retroperitoneal_suprarenal_ln.label }}
            {{ form.retroperitoneal_suprarenal_ln }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.sb_adhesions.label }}
            {{ form.sb_adhesions }}
         </tr>
      </fieldset>

      <fieldset class="form-field">
         {# <tr>  #}
            {{ form.ascites.label }}
            {{ form.ascites }}
         {# </tr> #}
      </fieldset>

      <fieldset class="form-field">
         <tr> {{ form.gb_fossa.label }}
            {{ form.gb_fossa }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.lesser_sac.label }}
            {{ form.lesser_sac }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.sma_root.label }}
            {{ form.sma_root }}
         </tr>
      </fieldset>
      <h3 class="subtitle">Surgical Complexity</h3>
      <fieldset class="form-field">
         <tr> {{ form.pre_tahbso_omx.label }}
            {{ form.pre_tahbso_omx }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_plnd.label }}
            {{ form.pre_plnd }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_palnd.label }}
            {{ form.pre_palnd }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_pelvicperit.label }}
            {{ form.pre_pelvicperit }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_abdoperit.label }}
            {{ form.pre_apre_abdoperitbdo }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_bowelresect.label }}
            {{ form.pre_bowelresect }}
         </tr>
      </fieldset>

      <fieldset class="form-field">
         <tr> {{ form.pre_diaphr.label }}
            {{ form.pre_diaphr }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_splen.label }}
            {{ form.pre_splen }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_liver.label }}
            {{ form.pre_liver }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_lar.label }}
            {{ form.pre_lar }}
         </tr>
      </fieldset>
      <fieldset class="form-field">
         <tr> {{ form.pre_vats.label }}
            {{ form.pre_vats }}
         </tr>
      </fieldset>

      <fieldset class="form-field">
         <tr> {{ form.st_4unresec.label }}
            {{ form.st_4unresec }}
         </tr>
      </fieldset>

      <h3 class="subtitle">Predictions</h3>
      <table>

      {% for key in predictions %}
      <tr>
         {# split key for formatting #}
         {% set names = key.split('_') %}
         <td>
         {{ names[0]|upper }} Score: 
         </td>
         <td>
         {{'%0.3f'|format(predictions[key]|float)}}
         </td>
      </tr>
      {% endfor %}
      </table>


      {{ form.submit }}
   </form>
</div>

{% endblock %}